@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 42%, rgba(0, 212, 255, 1) 100%);

}


.navbar {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 32px;
    font-size: 25px;
    margin: 2px;


}

.navbar h3 {
    background: transparent;

}


.container {
    display: flex;
    /* height: 100%; */
    padding-top: 196px;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 223px;
}

#left {
    color: #FFFBDE;
    justify-content: center;
    background: transparent;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;

    display: flex;
    flex-direction: column;
    gap: 23px;

    align-items: center;   
}


p {
    background: none;
}

#right {
    background-image: url("IMG_7204.jpg");
    background-size: cover;
    /* height: 100vh; */
    width: 278px;
    height: 278px;
    border-radius: 23px;

}

button {
    line-height: 1;
    background-color: transparent;
    /* outline: none; */
    cursor: pointer;
    display: flex;
    /* display: inline-flex; */
    align-items:center;
    gap: 0.35em;
    /* width: auto; */
    padding: 0.75em 1em;
    padding-right: 1.25em;   
    color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 2em;
    font-size: 1rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    transition: transform 0.3s;

    background: linear-gradient(90deg,
            rgba(77, 54, 208, 1) 0%,
            rgba(132, 116, 254, 1) 100%);
}

button:hover {
    border-color: #f4f5f2;
}

button:active {
    transform: scale(0.98);
    box-shadow: 0 0.5em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
}

.bi-telephone {
    background: none;
}

@media screen and (max-width: 870px) {
  /* CSS styles to apply when the screen width is 600px or less */
 .navbar{
    display: flex;
    flex-direction: column;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 82px;
  }
}

